@import "compass/css3/animation";
@import "compass/css3";
@import "partials/_fonts";

/* Let the style.css empty by design and use this css instead. 
   This way we can work around the cache by increaging version numbers.
*/

$bg: #000;
$light: #FFF;
$dark: #000;
$link: #99CCFF;
$hover: #2299AA;

*{
	box-sizing: border-box;
}
body {
	background-color: $bg;
}
@include keyframes(fadeIn){
	0%{
   		opacity: 0;
 	}
 	50%{
 		opacity: 0;	
 	}
 	100%{
   		opacity: 1;
 	}
 }
html{
	animation: fadeIn 0.6s ease-out;
}


#site-nav-container,
#main-wrap{
	background:$light;
	padding-top: 40px;	
	padding-left: 40px;
	border-bottom: none;	
	overflow-x: hidden; 
	overflow-y: auto;
	#site-nav{
		padding: 40px;
	}
}
#main-wrap{
	margin: auto;
	padding-right: 40px;
	margin-top: 100px;
	min-height: 100vh;
	box-shadow: 0 -200px 0 0 $light;
}
#site-nav-container{
	padding: 0;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	z-index: 10000;
	top: 0;	
	transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);		
	&.nav-down {
	    opacity: 1;
	    pointer-events: normal;
	}
	&.nav-up {
		opacity: 0;
	    top: -140px;
	    pointer-events: none;
	}
}


/* ///////////////////////////		HEADER		/////////////////////////// */
.header-image{	
	height: auto !important;
	width: 100% !important;
	img{
		position: static !important;
	}	
}
#subtitle span{
	position: relative;
	margin-left: 25px !important;
	top: 5px !important;
	font-size: 8pt !important;	
	font-style: italic;
	white-space: nowrap;
}

#header{
	#mobile-menu-btn{
		margin-top: 0px !important;
		margin-right: 0px !important;
		width: 100px !important;
		padding: 0;
		top: 0;
		right: 0;
		height: 120px !important;
		background: none !important;
	}
	#nav-icon{
		width: 30px;
		height: 30px;
		position: absolute;
		right: 20px;
		margin: 15px;
		margin-right: 0;
		transform: rotate(0deg);
		transition: .2s ease-in-out;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: $dark;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .4s ease-in-out;
		}
		span:nth-child(1) {
		  top: 0px;
		}

		span:nth-child(2),
		span:nth-child(3) {
		  top: 10px;
		}

		span:nth-child(4) {
		  top: 20px;
		}

		&.open span:nth-child(1) {			
		  top: 10px;
		  width: 0%;
		  left: 50%;
		}

		&.open span:nth-child(2) {
		  transform: rotate(45deg);
		}

		&.open span:nth-child(3) {
		  transform: rotate(-45deg);
		}

		&.open span:nth-child(4) {
		  top: 10px;
		  width: 0%;
		  left: 50%;
		}
	}
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;	
	#site-nav-container{
		overflow: hidden;
		padding-top: 0;
		margin-bottom: 1px;		
		border-top: 4px solid $dark;
		border-bottom: 1px solid $dark;
		// background:rgba($dark,0.5);
	}	
	#site-title {
		position: relative;
		width: 25vw !important;
		min-width: 250px;
		max-width: 350px;		
		padding-top: 0;
		padding-left: 0;
		padding-right: 40px;
		border-top: 4px solid $light;
		& .logo img{				
			position: relative;
			left: 20px;
			top: 10px;
			padding-right: 10px !important;					
			padding: 0 !important;			
			margin: 0 !important;		
			width: 100% !important;
			min-width: 100% !important;
		}
	}
}

#site-nav{	
	margin: 0px !important;
	margin-left: -40px !important;
	margin-right: -40px !important;
	padding: 0 !important;		
	li{
		background:$light !important;
		transition: all 0.25s;
		&:hover{
			box-shadow: inset 0 -4px 0 0 $dark;
		}
		position: relative;
		margin: 0 !important;
		padding:0 !important;
		border-bottom: 1px solid $dark !important;
		a{			
			padding: 0;
			margin: 0;
			padding: 20px !important;		
			padding-bottom: 15px !important;
			color: $dark !important;	
			background-color:transparent !important;					
		}
		&:last-child{
			border-bottom: none !important;			
		}				
		&:first-child{
			border-top: 1px solid $dark !important;		
		}
		a:hover{
			color: $hover !important;
			cursor: pointer !important;
		}
	}
	.current_page_item{
		background:$dark !important;
		a, a:hover{
			color: $light !important;	
		}
	}	
}
.home{
	#site-nav li:first-child{
		background:$dark;
	}
}

a:hover{
	color: $hover !important;
}

/* ///////////////////////////		SIDEBAR		/////////////////////////// */
#site-nav li a{
	padding: 10px;	
	margin-top: 10px;
}
#site-nav li a:first-child{margin-top: 0;}

#sidebar{
	border-left: none;
	padding-top: 80px;
	margin-top: -40px;
	height: auto;	
}



/* ///////////////////////////		LIST		/////////////////////////// */
#morelist li{
	background-image:none !important;
	padding-left: 0px !important; 
	margin-left: 0;
	line-height: 1.5em;
	margin-bottom: 10px;
	list-style-type: none;	
}
#content .entry-content li{
	&:before{
		font-family: "kb-icon-font";
		content: "\f152";
		font-size: 0.6em;
		padding-right: 5px;
		margin-left: -15px;
		vertical-align: top;
		color: $dark;
	}
	list-style: none !important;
	margin-left: 15px;
}


/* ///////////////////////////		UI		/////////////////////////// */

.standard-btn.blue-btn.large-btn,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],	
#content form:not(#searchform) button
{
	border: 4px solid $dark !important;
	border-radius: 0;
	background:transparent;
	color: $dark;
	cursor: pointer;
	margin-top: 40px !important;
	&:hover{
		color: $light;
	}
}
.standard-btn,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],	
#content form:not(#searchform) button{
	padding: 5px !important;
	padding-top: 7px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	&:hover{
		background:$dark !important;
		* {color: $light !important;}
	}
}
#content #searchform{
	input[type="text"], 
	input[type="email"]{
		line-height: 1em !important;
		height: 50px !important;
		line-height: 50px !important;
		margin-bottom: 1em !important;
		padding-bottom: 0em;
	}
	input[type="text"]:focus, 
	input[type="email"]:focus{
		margin-top: 10px !important;
	}
	#searchsubmit{
		border: none !important;
	}
}
#content.nosidebar{
	margin-right: 0px !important;
}

#nav-below{padding-right: 0;}
/* ///////////////////////////		CONTENT		/////////////////////////// */
#content {	
	.post{		
		border-bottom: none;
		border-top: 1px solid $dark !important;	
		padding: 0 !important;	
		padding-top: 30px !important;
		padding-right: 0px;
		padding-left: 0;
		margin-top: 60px !important;
		&:first-child{
			margin-top: 0px !important;
			border-top: none !important;	
		}
	}

	&.nosidebar{
		box-sizing: border-box;
		width: auto;
		margin-right: 40px;
	}
}
.praesent{
	margin-bottom: 60px !important;
	min-width: 100%;
}



/* ///////////////////////////		FOOTER		/////////////////////////// */
#footer {	
    background:$bg !important;
    top: 0;
    .widget-area{
    	margin-top: 2em;
		.textwidget{
			font-size: 	14px;
		}
    }
    *{
		color: $light;
    }    
    #site-info a.top{
    	position: fixed;
    	bottom: 30px;
    	margin:auto;
    	left: 0;
    	right: 0;
    	background-size: 34px 18px;
    	&:hover{
    		margin-top: 0;
    	}
    }
    .standard-btn{
	    border-radius: 0px;
		background: $dark;
		border: 4px solid $light;
		color: $light;
		margin-top: 1em !important;
		line-height: 1em !important;
		min-height: 40px !important;
		transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
		&:hover{
			*{ color: $dark !important; }
			background: $light !important;
			transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
		}
	}
}



/* ///////////////////////////		TYPE		/////////////////////////// */

body{
	span, p, li, h1, h2, h3, h4, h5, h6, a, #site-nav *, .entry-content *,.nav-previous, .nav-next, .widget-area *{
		color: $dark;
		font-family: "Palatino", "Georgia";
		line-height: 1.5em;
		text-rendering: optimizeLegibility;
		font-smoothing: antialiased;
		-webkit-font-feature-settings: "liga", "dlig";
		font-feature-settings: "liga", "dlig";
		-webkit-text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-webkit-font-feature-settings: "liga", "dlig";
	}
	#content .entry-content a, .entry-title p a {
		color: $dark !important;
		border-bottom: 1px solid $hover;
		cursor: pointer;
	}
	#content .entry-content a:hover, .entry-title p a:hover {
		border-bottom-width: 4px;
	}
}

p,a,span,li{
	font-size:12pt !important;
	line-height: 1;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word !important;
	-webkit-hyphens: auto !important;
	-moz-hyphens: auto !important;
	-ms-hyphens: auto !important;
	-o-hyphens: auto !important;
	hyphens: auto !important;
}
#sidebar{
	p, li, span{
		a{
			border-bottom: 1px solid $hover;
		}
		a:hover{
			background:rgba($dark,0.05);
			padding: 5px;
			border-bottom: 4px solid $dark !important;
		}
	}
}
#main-wrap:before{
	pointer-events:none;
	color: $light;
	content: "\f154";
	text-align: center;
	font-size: 30px;
	position: fixed;
	top: 10px;
	font-family: "kb-icon-font";
	line-height: 30px;	
	width: 30px;
	height: 30px;
	background:$dark;
	margin-left: -40px;
	margin-right: 60px !important;
	z-index: 100;
}
#site-nav *{
	color: $dark !important;
}


h1, h2, h3, h4, h5, h6 , .standard-btn, .standard-btn *, #site-nav a,.praesent strong,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],	
#content form:not(#searchform) button{
	line-height: 1.25em;
	margin: 0;
	margin-bottom: 0.25em;
	padding-bottom: 0px !important;
	text-transform: uppercase !important;	
}
.issue h1{
	font-size:12px !important;
	max-width: 50%;
	line-height: 2.5em !important;
}
h1, h1 *{
	font-family: "BrandonGrotesque-Light" !important;	
	font-size: 3em;
	font-size: 6vmin !important;
}
h2,h3, h2 *, h3 * , .standard-btn, .standard-btn *,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],	
#content form:not(#searchform) button{
	font-family: "BrandonGrotesque-Black" !important;	
}
h4, h4 *,.nav-previous a, .nav-next a{
	font-family: "BrandonGrotesque-Medium" !important;		
	padding: 20px;
	padding-bottom: 10px;
}
h5,h6, h5 *, h6, #site-nav *, .praesent strong, .entry-header h1{
	font-family: "BrandonGrotesque-Bold" !important;	
}
body #content .entry-content a.standard-btn:hover{
	color: $light !important;
	font-weight: normal !important;
	cursor: pointer;
}
#content{
	div.divider{
		height: 80px;
	}
	border-bottom: 4px solid $dark;
	&, *{
		position: relative;
		max-width: 100%;
	}
	h1,h2,h3,h4,h5,h6,button,input[type="submit"], a{
		max-width: 700px;
		font-weight: normal !important;
	}
	.entry-header {
		h1{
			text-align: left !important;
		}
		border-top: 4px solid $dark;	
		border-bottom: 1px solid $dark;
		margin: 0;
		padding-top: 15px;
		margin-bottom: 5em !important;
		margin-top: 2em !important;
		text-align: left !important;
	}

	article .entry-content > div{
		img{
			margin-top: -10%;
		}
		a img{
			margin-top: 0;
		}
		// padding-top: 40px;	
		h2, h3, h4, h5, h6{		
			padding-bottom: 10px !important;
			margin-bottom: 5px;
			padding-top: 10px;
			border-top: 4px solid $dark;
			border-bottom: 1px solid $dark;
			display: inline-block;
			float:left;	
			margin-top: -35px;	
			padding-right: 10px;
			margin-right: 20px;
			padding-bottom: 0px;
			width: 50%;
			min-width: 200px;
		}		
		li{	
			line-height: 1.5em;
			list-style-type: none;
			margin-bottom: 10px;
		}
	}
}

small{
	color: rgba($dark, 0.5);
}


.entry-date{
	line-height: 0;
	background:$dark;
	color: $light !important;
	padding: 5px;
	margin-left: 40px;
	float: left;
	height: 20px;
	font-size: 0.75em !important;
	line-height: 10px;
	position: absolute;
	left: -40px;
	top: 0px;
	pointer-events: none;
}
.entry-header{
	margin-bottom: 1em;
}
.entry-title,
.entry-details{
	padding: 0 !important;
	margin: 0 !important;
}


/* ///////////////////////////		INPUT		/////////////////////////// */
form *{
	box-sizing: border-box;
}
input.field{
	padding: 0;
	margin: 0;
	height: 50px !important;
	line-height: 50px !important;
	border-right: none !important;
	border-bottom: 1px solid $dark !important;
	box-shadow: none !important;
}
#searchsubmit{
	background-size: 30% auto !important;
	background-position: center center;
	margin-top: 10px;
	right: -20px !important;
}

#searchform, 
#searchform input[type="text"],
#searchform input[type="email"]
{
	width: 100%;
	max-width: 300px; 
	border:none;
	margin-top: 10px;
}
#searchform input[type="text"],
#searchform input[type="email"],
#content textarea{
	font-size: 14pt !important;
	font-family: "Palatino", "Georgia" !important;
	background: transparent;
}
#content textarea{
	background: repeating-linear-gradient(
    0deg,
    rgba($dark, 0.02),
    rgba($dark, 0.02) 40px,
    rgba($dark, 0.2) 40px,
    rgba($dark, 0.2) 41px
  ) !important;
}
.comment-form-comment{
	label{
		top: 0;		
	}
}

label{
	z-index:1;
	pointer-events: none;
}
#content form:not(#searchform) input[type="text"],
#content form:not(#searchform) input[type="email"],{
	z-index: 0;
}
#content textarea, #content input[type="text"],
#content textarea, #content input[type="email"]{	
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	box-shadow: none !important;
	color: $dark;
	border-bottom: 1px solid $dark !important;	
	&:focus{
		transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
		background:$dark !important;
		color: $light;
	}
}
/*
#content input[type="text"],
#content input[type="email"]{	
	line-height: 2em;
	height: 0;
	background-color: transparent !important;
	padding-bottom: 40px;
	&:focus{
		margin-top: 40px !important;
		transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
		height: 40px;
	}
}
#content input[type="text"]:focus,
#content input[type="email"]:focus{
	line-height: 40px;
	transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
}
#content .submit,
#content input[type="submit"],	
#content button{
	border-radius: 0 !important;
}
label{
	// background:$dark;
	// color: $light
	margin-top: 1em;
	top: 30px;
}*/

/* ///////////////////////////		MEDIA CONTETNT		/////////////////////////// */
.shadow{
	border-radius: 0;
	border: 1px solid $dark;
	box-shadow: 1px 1px $light, 4px 4px $dark !important;
}
#content{
	img{
		height: auto !important;
	}
}



/* ///////////////////////////		PRAESENT		/////////////////////////// */

.praesent{
	padding-top: 20px !important;
	padding-left: 20px !important;
	border: 4px solid $dark !important;
	border-radius: 0 !important;
	margin: 0;
	margin-left: 0 !important;
	margin-right: 10px;
	position: relative;
	img{
		position: absolute;
		width: 95% !important;
		height: auto !important;
		bottom: -40px;
		margin: auto !important;
		left: 0 !important;
		right: 0 !important;
	}
}

/* ///////////////////////////		COOKIE ALERT		/////////////////////////// */

.cc_banner-wrapper{
	.cc_message{
		color: $light;
	}
	.cc_btn.cc_btn_accept_all{
		background:$light;
		border-radius: 0;
	}
}
/* ///////////////////////////			FORMS 		/////////////////////////// */



/* ///////////////////////////		RESPONSIVE		/////////////////////////// */
@media screen and (min-width : 1180px)   {
	#site-nav{		
		position: absolute;
		bottom: 0;	
		right: 40px;	
		li{		
			float: left;		
			border-bottom: none !important;			
			&:first-child{
				border-top: none !important;		
			}
		}		
	}
	#sidebar{
		border-left: 1px solid $dark;
		padding-top: 40px;
		margin-top: -40px;
	}	
	#main-wrap{
		box-shadow: 0 -140px $light;
		padding-right: 0px;
		margin-bottom: 100vh;
		#content .post{		
			padding-right: 40px;
		}
		#content.nosidebar{
			margin-right: 40px !important;
		}
		.entry-content{
			margin-right: 40px;
		}		
	}
	#site-nav-container,
	#main-wrap,
	footer{
		max-width: 1350px;
	}
	footer{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin:auto;
		z-index: -1;
		box-shadow: 0 -100px 0 0 $bg;
	}
}
@media screen and (min-width : 640px)   {
	.praesent{
		margin-bottom: 60px !important;
		min-width: 0px;
	} 	
}
::-webkit-input-placeholder {
   color: rgba($dark, 0.5);
   font-size: 1em;
   font-family: "Palatino", "Georgia";	
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba($dark, 0.5);
   font-size: 1em;
   font-family: "Palatino", "Georgia";	
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba($dark, 0.5);
   font-size: 1em;
   font-family: "Palatino", "Georgia";	
}

:-ms-input-placeholder {  
   color: rgba($dark, 0.5);
   font-size: 1em;
   font-family: "Palatino", "Georgia";	
}


/* ///////////////////////////		PLUGIN CONTACT 7		/////////////////////////// */


.wpcf7-form-control-wrap.g-recaptcha.wpcf7-recaptcha{
	left: 100px;
}
.wpcf7-form fieldset{
	border-color: #000 !important;
	border-width: 2px;
	border-style: solid;
	padding: 20px;
	margin-bottom: 2em;
}
.wpcf7-form fieldset input[type='text'],
.wpcf7-form fieldset input[type='email'],
.wpcf7-form fieldset textarea,
#content .wpcf7 input.wpcf7-text{
	width: 100% !important;
	font-family: "Palatino", "Georgia";	
}
.wpcf7-form fieldset legend{
	font-family: "BrandonGrotesque-Bold" !important;
	text-transform: uppercase;
	font-size: 14pt;
	padding-left: 5px;
	padding-right: 5px;
}
.wpcf7-list-item-label{
	font-weight: normal;
}
.smallframe{

}

#content .wpcf7{
	padding-top: 0px !important;
	& div div{
		padding-left: 0 !important; 
	}
	p{
		padding-left: 0 !important;
	}
	textarea{
		width: 100% !important;
		margin-top: 40px;
		padding-top: 16px !important;
	}
}
address p{
	padding-left: 0 !important;
}