@charset "UTF-8";
/*
  Icon Font: fontcustom
*/
@import url("//hello.myfonts.net/count/298d74");
@font-face {
  font-family: "kb-icon-font";
  src: url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.eot");
  src: url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.eot?#iefix") format("embedded-opentype"), url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.woff") format("woff"), url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.ttf") format("truetype"), url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "kb-icon-font";
    src: url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.svg#fontcustom") format("svg"); } }
[data-icon]:before {
  content: attr(data-icon); }

[data-icon]:before,
.kb_icon_achtung:before,
.kb_icon_component_audio:before,
.kb_icon_component_gyro:before,
.kb_icon_component_magnify:before,
.kb_icon_component_pinch:before,
.kb_icon_component_stockmotion:before,
.kb_icon_component_swipe:before,
.kb_icon_component_video:before,
.kb_icon_einstellungen:before,
.kb_icon_favorit:before,
.kb_icon_fazit:before,
.kb_icon_feature_bargefuehl:before,
.kb_icon_feature_hoehelaufen:before,
.kb_icon_feature_hooked:before,
.kb_icon_feature_kiteloop:before,
.kb_icon_feature_querkraefte:before,
.kb_icon_feature_relaunch:before,
.kb_icon_feature_safety:before,
.kb_icon_feature_unhooked:before,
.kb_icon_feature_wave:before,
.kb_icon_feature_windbereich:before,
.kb_icon_hinweis:before,
.kb_icon_info:before,
.kb_icon_inhalt:before,
.kb_icon_karten_pin:before,
.kb_icon_link:before,
.kb_icon_media:before,
.kb_icon_mustache:before,
.kb_icon_pfeil_brandneu:before,
.kb_icon_pfeil_links:before,
.kb_icon_pfeil_oben:before,
.kb_icon_pfeil_rechts:before,
.kb_icon_pfeil_unten:before,
.kb_icon_stern:before,
.kb_icon_szenenews:before,
.kb_icon_vorschau:before {
  display: inline-block;
  font-family: "kb-icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.kb_icon_achtung:before {
  content: "\f111"; }

.kb_icon_component_audio:before {
  content: "\f13d"; }

.kb_icon_component_gyro:before {
  content: "\f13e"; }

.kb_icon_component_magnify:before {
  content: "\f13f"; }

.kb_icon_component_pinch:before {
  content: "\f140"; }

.kb_icon_component_stockmotion:before {
  content: "\f141"; }

.kb_icon_component_swipe:before {
  content: "\f142"; }

.kb_icon_component_video:before {
  content: "\f143"; }

.kb_icon_einstellungen:before {
  content: "\f112"; }

.kb_icon_favorit:before {
  content: "\f113"; }

.kb_icon_fazit:before {
  content: "\f114"; }

.kb_icon_feature_bargefuehl:before {
  content: "\f144"; }

.kb_icon_feature_hoehelaufen:before {
  content: "\f145"; }

.kb_icon_feature_hooked:before {
  content: "\f146"; }

.kb_icon_feature_kiteloop:before {
  content: "\f147"; }

.kb_icon_feature_querkraefte:before {
  content: "\f148"; }

.kb_icon_feature_relaunch:before {
  content: "\f149"; }

.kb_icon_feature_safety:before {
  content: "\f14a"; }

.kb_icon_feature_unhooked:before {
  content: "\f14b"; }

.kb_icon_feature_wave:before {
  content: "\f14c"; }

.kb_icon_feature_windbereich:before {
  content: "\f14d"; }

.kb_icon_hinweis:before {
  content: "\f115"; }

.kb_icon_info:before {
  content: "\f116"; }

.kb_icon_inhalt:before {
  content: "\f13c"; }

.kb_icon_karten_pin:before {
  content: "\f14e"; }

.kb_icon_link:before {
  content: "\f118"; }

.kb_icon_media:before {
  content: "\f119"; }

.kb_icon_mustache:before {
  content: "\f155"; }

.kb_icon_pfeil_brandneu:before {
  content: "\f14f"; }

.kb_icon_pfeil_links:before {
  content: "\f150"; }

.kb_icon_pfeil_oben:before {
  content: "\f151"; }

.kb_icon_pfeil_rechts:before {
  content: "\f152"; }

.kb_icon_pfeil_unten:before {
  content: "\f153"; }

.kb_icon_stern:before {
  content: "\f154"; }

.kb_icon_szenenews:before {
  content: "\f11b"; }

.kb_icon_vorschau:before {
  content: "\f11c"; }

/**
 * @license
 * MyFonts Webfont Build ID 2723188, 2014-01-13T05:57:15-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Brandon Grotesque Thin Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/thin-italic/
 * 
 * Webfont: Brandon Grotesque Thin by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/thin/
 * 
 * Webfont: Brandon Grotesque Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/italic/
 * 
 * Webfont: Brandon Grotesque Medium Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium-italic/
 * 
 * Webfont: Brandon Grotesque Medium by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
 * 
 * Webfont: Brandon Grotesque Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/regular/
 * 
 * Webfont: Brandon Grotesque Light Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light-italic/
 * 
 * Webfont: Brandon Grotesque Light by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
 * 
 * Webfont: Brandon Grotesque Bold Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold-italic/
 * 
 * Webfont: Brandon Grotesque Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold/
 * 
 * Webfont: Brandon Grotesque Black Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/black-italic/
 * 
 * Webfont: Brandon Grotesque Black by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/black/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2723188
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'BrandonGrotesque-ThinItalic';
  src: url("./fonts/brandon/298D74_0_0.eot");
  src: url("./fonts/brandon/298D74_0_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_0_0.woff") format("woff"), url("./fonts/brandon/298D74_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-Thin';
  src: url("./fonts/brandon/298D74_1_0.eot");
  src: url("./fonts/brandon/298D74_1_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_1_0.woff") format("woff"), url("./fonts/brandon/298D74_1_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-RegularItalic';
  src: url("./fonts/brandon/298D74_2_0.eot");
  src: url("./fonts/brandon/298D74_2_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_2_0.woff") format("woff"), url("./fonts/brandon/298D74_2_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-MediumItalic';
  src: url("./fonts/brandon/298D74_3_0.eot");
  src: url("./fonts/brandon/298D74_3_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_3_0.woff") format("woff"), url("./fonts/brandon/298D74_3_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url("./fonts/brandon/298D74_4_0.eot");
  src: url("./fonts/brandon/298D74_4_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_4_0.woff") format("woff"), url("./fonts/brandon/298D74_4_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url("./fonts/brandon/298D74_5_0.eot");
  src: url("./fonts/brandon/298D74_5_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_5_0.woff") format("woff"), url("./fonts/brandon/298D74_5_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-LightItalic';
  src: url("./fonts/brandon/298D74_6_0.eot");
  src: url("./fonts/brandon/298D74_6_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_6_0.woff") format("woff"), url("./fonts/brandon/298D74_6_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url("./fonts/brandon/298D74_7_0.eot");
  src: url("./fonts/brandon/298D74_7_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_7_0.woff") format("woff"), url("./fonts/brandon/298D74_7_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-BoldItalic';
  src: url("./fonts/brandon/298D74_8_0.eot");
  src: url("./fonts/brandon/298D74_8_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_8_0.woff") format("woff"), url("./fonts/brandon/298D74_8_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url("./fonts/brandon/298D74_9_0.eot");
  src: url("./fonts/brandon/298D74_9_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_9_0.woff") format("woff"), url("./fonts/brandon/298D74_9_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-BlackItalic';
  src: url("./fonts/brandon/298D74_A_0.eot");
  src: url("./fonts/brandon/298D74_A_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_A_0.woff") format("woff"), url("./fonts/brandon/298D74_A_0.ttf") format("truetype"); }
@font-face {
  font-family: 'BrandonGrotesque-Black';
  src: url("./fonts/brandon/298D74_B_0.eot");
  src: url("./fonts/brandon/298D74_B_0.eot?#iefix") format("embedded-opentype"), url("./fonts/brandon/298D74_B_0.woff") format("woff"), url("./fonts/brandon/298D74_B_0.ttf") format("truetype"); }
/* Let the style.css empty by design and use this css instead. 
   This way we can work around the cache by increaging version numbers.
*/
* {
  box-sizing: border-box; }

body {
  background-color: #000; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html {
  -webkit-animation: fadeIn 0.6s ease-out;
          animation: fadeIn 0.6s ease-out; }

#site-nav-container,
#main-wrap {
  background: #FFF;
  padding-top: 40px;
  padding-left: 40px;
  border-bottom: none;
  overflow-x: hidden;
  overflow-y: auto; }
  #site-nav-container #site-nav,
  #main-wrap #site-nav {
    padding: 40px; }

#main-wrap {
  margin: auto;
  padding-right: 40px;
  margin-top: 100px;
  min-height: 100vh;
  box-shadow: 0 -200px 0 0 #FFF; }

#site-nav-container {
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: 10000;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1); }
  #site-nav-container.nav-down {
    opacity: 1;
    pointer-events: normal; }
  #site-nav-container.nav-up {
    opacity: 0;
    top: -140px;
    pointer-events: none; }

/* ///////////////////////////		HEADER		/////////////////////////// */
.header-image {
  height: auto !important;
  width: 100% !important; }
  .header-image img {
    position: static !important; }

#subtitle span {
  position: relative;
  margin-left: 25px !important;
  top: 5px !important;
  font-size: 8pt !important;
  font-style: italic;
  white-space: nowrap; }

#header {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }
  #header #mobile-menu-btn {
    margin-top: 0px !important;
    margin-right: 0px !important;
    width: 100px !important;
    padding: 0;
    top: 0;
    right: 0;
    height: 120px !important;
    background: none !important; }
  #header #nav-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    margin: 15px;
    margin-right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer; }
    #header #nav-icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #000;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
    #header #nav-icon span:nth-child(1) {
      top: 0px; }
    #header #nav-icon span:nth-child(2),
    #header #nav-icon span:nth-child(3) {
      top: 10px; }
    #header #nav-icon span:nth-child(4) {
      top: 20px; }
    #header #nav-icon.open span:nth-child(1) {
      top: 10px;
      width: 0%;
      left: 50%; }
    #header #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    #header #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    #header #nav-icon.open span:nth-child(4) {
      top: 10px;
      width: 0%;
      left: 50%; }
  #header #site-nav-container {
    overflow: hidden;
    padding-top: 0;
    margin-bottom: 1px;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000; }
  #header #site-title {
    position: relative;
    width: 25vw !important;
    min-width: 250px;
    max-width: 350px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 40px;
    border-top: 4px solid #FFF; }
    #header #site-title .logo img {
      position: relative;
      left: 20px;
      top: 10px;
      padding-right: 10px !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      min-width: 100% !important; }

#site-nav {
  margin: 0px !important;
  margin-left: -40px !important;
  margin-right: -40px !important;
  padding: 0 !important; }
  #site-nav li {
    background: #FFF !important;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #000 !important; }
    #site-nav li:hover {
      box-shadow: inset 0 -4px 0 0 #000; }
    #site-nav li a {
      padding: 0;
      margin: 0;
      padding: 20px !important;
      padding-bottom: 15px !important;
      color: #000 !important;
      background-color: transparent !important; }
    #site-nav li:last-child {
      border-bottom: none !important; }
    #site-nav li:first-child {
      border-top: 1px solid #000 !important; }
    #site-nav li a:hover {
      color: #2299AA !important;
      cursor: pointer !important; }
  #site-nav .current_page_item {
    background: #000 !important; }
    #site-nav .current_page_item a, #site-nav .current_page_item a:hover {
      color: #FFF !important; }

.home #site-nav li:first-child {
  background: #000; }

a:hover {
  color: #2299AA !important; }

/* ///////////////////////////		SIDEBAR		/////////////////////////// */
#site-nav li a {
  padding: 10px;
  margin-top: 10px; }

#site-nav li a:first-child {
  margin-top: 0; }

#sidebar {
  border-left: none;
  padding-top: 80px;
  margin-top: -40px;
  height: auto; }

/* ///////////////////////////		LIST		/////////////////////////// */
#morelist li {
  background-image: none !important;
  padding-left: 0px !important;
  margin-left: 0;
  line-height: 1.5em;
  margin-bottom: 10px;
  list-style-type: none; }

#content .entry-content li {
  list-style: none !important;
  margin-left: 15px; }
  #content .entry-content li:before {
    font-family: "kb-icon-font";
    content: "\f152";
    font-size: 0.6em;
    padding-right: 5px;
    margin-left: -15px;
    vertical-align: top;
    color: #000; }

/* ///////////////////////////		UI		/////////////////////////// */
.standard-btn.blue-btn.large-btn,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],
#content form:not(#searchform) button {
  border: 4px solid #000 !important;
  border-radius: 0;
  background: transparent;
  color: #000;
  cursor: pointer;
  margin-top: 40px !important; }
  .standard-btn.blue-btn.large-btn:hover,
  #content form:not(#searchform) .submit:hover,
  #content form:not(#searchform) input[type="submit"]:hover,
  #content form:not(#searchform) button:hover {
    color: #FFF; }

.standard-btn,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],
#content form:not(#searchform) button {
  padding: 5px !important;
  padding-top: 7px !important;
  padding-left: 10px !important;
  padding-right: 10px !important; }
  .standard-btn:hover,
  #content form:not(#searchform) .submit:hover,
  #content form:not(#searchform) input[type="submit"]:hover,
  #content form:not(#searchform) button:hover {
    background: #000 !important; }
    .standard-btn:hover *,
    #content form:not(#searchform) .submit:hover *,
    #content form:not(#searchform) input[type="submit"]:hover *,
    #content form:not(#searchform) button:hover * {
      color: #FFF !important; }

#content #searchform input[type="text"],
#content #searchform input[type="email"] {
  line-height: 1em !important;
  height: 50px !important;
  line-height: 50px !important;
  margin-bottom: 1em !important;
  padding-bottom: 0em; }
#content #searchform input[type="text"]:focus,
#content #searchform input[type="email"]:focus {
  margin-top: 10px !important; }
#content #searchform #searchsubmit {
  border: none !important; }

#content.nosidebar {
  margin-right: 0px !important; }

#nav-below {
  padding-right: 0; }

/* ///////////////////////////		CONTENT		/////////////////////////// */
#content .post {
  border-bottom: none;
  border-top: 1px solid #000 !important;
  padding: 0 !important;
  padding-top: 30px !important;
  padding-right: 0px;
  padding-left: 0;
  margin-top: 60px !important; }
  #content .post:first-child {
    margin-top: 0px !important;
    border-top: none !important; }
#content.nosidebar {
  box-sizing: border-box;
  width: auto;
  margin-right: 40px; }

.praesent {
  margin-bottom: 60px !important;
  min-width: 100%; }

/* ///////////////////////////		FOOTER		/////////////////////////// */
#footer {
  background: #000 !important;
  top: 0; }
  #footer .widget-area {
    margin-top: 2em; }
    #footer .widget-area .textwidget {
      font-size: 14px; }
  #footer * {
    color: #FFF; }
  #footer #site-info a.top {
    position: fixed;
    bottom: 30px;
    margin: auto;
    left: 0;
    right: 0;
    background-size: 34px 18px; }
    #footer #site-info a.top:hover {
      margin-top: 0; }
  #footer .standard-btn {
    border-radius: 0px;
    background: #000;
    border: 4px solid #FFF;
    color: #FFF;
    margin-top: 1em !important;
    line-height: 1em !important;
    min-height: 40px !important;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1); }
    #footer .standard-btn:hover {
      background: #FFF !important;
      -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
      transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1); }
      #footer .standard-btn:hover * {
        color: #000 !important; }

/* ///////////////////////////		TYPE		/////////////////////////// */
body span, body p, body li, body h1, body h2, body h3, body h4, body h5, body h6, body a, body #site-nav *, body .entry-content *, body .nav-previous, body .nav-next, body .widget-area * {
  color: #000;
  font-family: "Palatino", "Georgia";
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "dlig"; }
body #content .entry-content a, body .entry-title p a {
  color: #000 !important;
  border-bottom: 1px solid #2299AA;
  cursor: pointer; }
body #content .entry-content a:hover, body .entry-title p a:hover {
  border-bottom-width: 4px; }

p, a, span, li {
  font-size: 12pt !important;
  line-height: 1;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word !important;
  -webkit-hyphens: auto !important;
  -moz-hyphens: auto !important;
  -ms-hyphens: auto !important;
  -o-hyphens: auto !important;
  hyphens: auto !important; }

#sidebar p a, #sidebar li a, #sidebar span a {
  border-bottom: 1px solid #2299AA; }
#sidebar p a:hover, #sidebar li a:hover, #sidebar span a:hover {
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-bottom: 4px solid #000 !important; }

#main-wrap:before {
  pointer-events: none;
  color: #FFF;
  content: "\f154";
  text-align: center;
  font-size: 30px;
  position: fixed;
  top: 10px;
  font-family: "kb-icon-font";
  line-height: 30px;
  width: 30px;
  height: 30px;
  background: #000;
  margin-left: -40px;
  margin-right: 60px !important;
  z-index: 100; }

#site-nav * {
  color: #000 !important; }

h1, h2, h3, h4, h5, h6, .standard-btn, .standard-btn *, #site-nav a, .praesent strong,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],
#content form:not(#searchform) button {
  line-height: 1.25em;
  margin: 0;
  margin-bottom: 0.25em;
  padding-bottom: 0px !important;
  text-transform: uppercase !important; }

.issue h1 {
  font-size: 12px !important;
  max-width: 50%;
  line-height: 2.5em !important; }

h1, h1 * {
  font-family: "BrandonGrotesque-Light" !important;
  font-size: 3em;
  font-size: 6vmin !important; }

h2, h3, h2 *, h3 *, .standard-btn, .standard-btn *,
#content form:not(#searchform) .submit,
#content form:not(#searchform) input[type="submit"],
#content form:not(#searchform) button {
  font-family: "BrandonGrotesque-Black" !important; }

h4, h4 *, .nav-previous a, .nav-next a {
  font-family: "BrandonGrotesque-Medium" !important;
  padding: 20px;
  padding-bottom: 10px; }

h5, h6, h5 *, h6, #site-nav *, .praesent strong, .entry-header h1 {
  font-family: "BrandonGrotesque-Bold" !important; }

body #content .entry-content a.standard-btn:hover {
  color: #FFF !important;
  font-weight: normal !important;
  cursor: pointer; }

#content {
  border-bottom: 4px solid #000; }
  #content div.divider {
    height: 80px; }
  #content, #content * {
    position: relative;
    max-width: 100%; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content button, #content input[type="submit"], #content a {
    max-width: 700px;
    font-weight: normal !important; }
  #content .entry-header {
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 5em !important;
    margin-top: 2em !important;
    text-align: left !important; }
    #content .entry-header h1 {
      text-align: left !important; }
  #content article .entry-content > div img {
    margin-top: -10%; }
  #content article .entry-content > div a img {
    margin-top: 0; }
  #content article .entry-content > div h2, #content article .entry-content > div h3, #content article .entry-content > div h4, #content article .entry-content > div h5, #content article .entry-content > div h6 {
    padding-bottom: 10px !important;
    margin-bottom: 5px;
    padding-top: 10px;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    float: left;
    margin-top: -35px;
    padding-right: 10px;
    margin-right: 20px;
    padding-bottom: 0px;
    width: 50%;
    min-width: 200px; }
  #content article .entry-content > div li {
    line-height: 1.5em;
    list-style-type: none;
    margin-bottom: 10px; }

small {
  color: rgba(0, 0, 0, 0.5); }

.entry-date {
  line-height: 0;
  background: #000;
  color: #FFF !important;
  padding: 5px;
  margin-left: 40px;
  float: left;
  height: 20px;
  font-size: 0.75em !important;
  line-height: 10px;
  position: absolute;
  left: -40px;
  top: 0px;
  pointer-events: none; }

.entry-header {
  margin-bottom: 1em; }

.entry-title,
.entry-details {
  padding: 0 !important;
  margin: 0 !important; }

/* ///////////////////////////		INPUT		/////////////////////////// */
form * {
  box-sizing: border-box; }

input.field {
  padding: 0;
  margin: 0;
  height: 50px !important;
  line-height: 50px !important;
  border-right: none !important;
  border-bottom: 1px solid #000 !important;
  box-shadow: none !important; }

#searchsubmit {
  background-size: 30% auto !important;
  background-position: center center;
  margin-top: 10px;
  right: -20px !important; }

#searchform,
#searchform input[type="text"],
#searchform input[type="email"] {
  width: 100%;
  max-width: 300px;
  border: none;
  margin-top: 10px; }

#searchform input[type="text"],
#searchform input[type="email"],
#content textarea {
  font-size: 14pt !important;
  font-family: "Palatino", "Georgia" !important;
  background: transparent; }

#content textarea {
  background: -webkit-repeating-linear-gradient(bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02) 40px, rgba(0, 0, 0, 0.2) 40px, rgba(0, 0, 0, 0.2) 41px) !important;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02) 40px, rgba(0, 0, 0, 0.2) 40px, rgba(0, 0, 0, 0.2) 41px) !important; }

.comment-form-comment label {
  top: 0; }

label {
  z-index: 1;
  pointer-events: none; }

#content form:not(#searchform) input[type="text"],
#content form:not(#searchform) input[type="email"] {
  z-index: 0; }

#content textarea, #content input[type="text"],
#content textarea, #content input[type="email"] {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  color: #000;
  border-bottom: 1px solid #000 !important; }
  #content textarea:focus, #content input[type="text"]:focus,
  #content textarea:focus, #content input[type="email"]:focus {
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    background: #000 !important;
    color: #FFF; }

/*
#content input[type="text"],
#content input[type="email"]{	
	line-height: 2em;
	height: 0;
	background-color: transparent !important;
	padding-bottom: 40px;
	&:focus{
		margin-top: 40px !important;
		transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
		height: 40px;
	}
}
#content input[type="text"]:focus,
#content input[type="email"]:focus{
	line-height: 40px;
	transition: all 0.2s cubic-bezier(0.25,0.1,0.25,1);
}
#content .submit,
#content input[type="submit"],	
#content button{
	border-radius: 0 !important;
}
label{
	// background:$dark;
	// color: $light
	margin-top: 1em;
	top: 30px;
}*/
/* ///////////////////////////		MEDIA CONTETNT		/////////////////////////// */
.shadow {
  border-radius: 0;
  border: 1px solid #000;
  box-shadow: 1px 1px #FFF, 4px 4px #000 !important; }

#content img {
  height: auto !important; }

/* ///////////////////////////		PRAESENT		/////////////////////////// */
.praesent {
  padding-top: 20px !important;
  padding-left: 20px !important;
  border: 4px solid #000 !important;
  border-radius: 0 !important;
  margin: 0;
  margin-left: 0 !important;
  margin-right: 10px;
  position: relative; }
  .praesent img {
    position: absolute;
    width: 95% !important;
    height: auto !important;
    bottom: -40px;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important; }

/* ///////////////////////////		COOKIE ALERT		/////////////////////////// */
.cc_banner-wrapper .cc_message {
  color: #FFF; }
.cc_banner-wrapper .cc_btn.cc_btn_accept_all {
  background: #FFF;
  border-radius: 0; }

/* ///////////////////////////			FORMS 		/////////////////////////// */
/* ///////////////////////////		RESPONSIVE		/////////////////////////// */
@media screen and (min-width: 1180px) {
  #site-nav {
    position: absolute;
    bottom: 0;
    right: 40px; }
    #site-nav li {
      float: left;
      border-bottom: none !important; }
      #site-nav li:first-child {
        border-top: none !important; }

  #sidebar {
    border-left: 1px solid #000;
    padding-top: 40px;
    margin-top: -40px; }

  #main-wrap {
    box-shadow: 0 -140px #FFF;
    padding-right: 0px;
    margin-bottom: 100vh; }
    #main-wrap #content .post {
      padding-right: 40px; }
    #main-wrap #content.nosidebar {
      margin-right: 40px !important; }
    #main-wrap .entry-content {
      margin-right: 40px; }

  #site-nav-container,
  #main-wrap,
  footer {
    max-width: 1350px; }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    box-shadow: 0 -100px 0 0 #000; } }
@media screen and (min-width: 640px) {
  .praesent {
    margin-bottom: 60px !important;
    min-width: 0px; } }
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-family: "Palatino", "Georgia"; }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-family: "Palatino", "Georgia"; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-family: "Palatino", "Georgia"; }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-family: "Palatino", "Georgia"; }

/* ///////////////////////////		PLUGIN CONTACT 7		/////////////////////////// */
.wpcf7-form-control-wrap.g-recaptcha.wpcf7-recaptcha {
  left: 100px; }

.wpcf7-form fieldset {
  border-color: #000 !important;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  margin-bottom: 2em; }

.wpcf7-form fieldset input[type='text'],
.wpcf7-form fieldset input[type='email'],
.wpcf7-form fieldset textarea,
#content .wpcf7 input.wpcf7-text {
  width: 100% !important;
  font-family: "Palatino", "Georgia"; }

.wpcf7-form fieldset legend {
  font-family: "BrandonGrotesque-Bold" !important;
  text-transform: uppercase;
  font-size: 14pt;
  padding-left: 5px;
  padding-right: 5px; }

.wpcf7-list-item-label {
  font-weight: normal; }

#content .wpcf7 {
  padding-top: 0px !important; }
  #content .wpcf7 div div {
    padding-left: 0 !important; }
  #content .wpcf7 p {
    padding-left: 0 !important; }
  #content .wpcf7 textarea {
    width: 100% !important;
    margin-top: 40px;
    padding-top: 16px !important; }

address p {
  padding-left: 0 !important; }
