/* Let the style.css empty by design and use this css instead. 
   This way we can work around the cache by increaging version numbers.
*/

$bg: #222222;
$light: #FFFFFF;
$dark: #000000;
$link: #2299FF;
$hover: #33AAFF;
#footer {
    background:$bg !important;
}
#site-nav-container{
	border-bottom: none;
	#site-nav{
		padding: 40px;
	}
}