/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "kb-icon-font";
  src: url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.eot");
  src: url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.eot?#iefix") format("embedded-opentype"),
       url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.woff") format("woff"),
       url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.ttf") format("truetype"),
       url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "kb-icon-font";
    src: url("./fonts/icon-kb/fontcustom_194073d4a09fa13be7dc02f78c427bd1.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.kb_icon_achtung:before,
.kb_icon_component_audio:before,
.kb_icon_component_gyro:before,
.kb_icon_component_magnify:before,
.kb_icon_component_pinch:before,
.kb_icon_component_stockmotion:before,
.kb_icon_component_swipe:before,
.kb_icon_component_video:before,
.kb_icon_einstellungen:before,
.kb_icon_favorit:before,
.kb_icon_fazit:before,
.kb_icon_feature_bargefuehl:before,
.kb_icon_feature_hoehelaufen:before,
.kb_icon_feature_hooked:before,
.kb_icon_feature_kiteloop:before,
.kb_icon_feature_querkraefte:before,
.kb_icon_feature_relaunch:before,
.kb_icon_feature_safety:before,
.kb_icon_feature_unhooked:before,
.kb_icon_feature_wave:before,
.kb_icon_feature_windbereich:before,
.kb_icon_hinweis:before,
.kb_icon_info:before,
.kb_icon_inhalt:before,
.kb_icon_karten_pin:before,
.kb_icon_link:before,
.kb_icon_media:before,
.kb_icon_mustache:before,
.kb_icon_pfeil_brandneu:before,
.kb_icon_pfeil_links:before,
.kb_icon_pfeil_oben:before,
.kb_icon_pfeil_rechts:before,
.kb_icon_pfeil_unten:before,
.kb_icon_stern:before,
.kb_icon_szenenews:before,
.kb_icon_vorschau:before {
  display: inline-block;
  font-family: "kb-icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.kb_icon_achtung:before { content: "\f111"; }
.kb_icon_component_audio:before { content: "\f13d"; }
.kb_icon_component_gyro:before { content: "\f13e"; }
.kb_icon_component_magnify:before { content: "\f13f"; }
.kb_icon_component_pinch:before { content: "\f140"; }
.kb_icon_component_stockmotion:before { content: "\f141"; }
.kb_icon_component_swipe:before { content: "\f142"; }
.kb_icon_component_video:before { content: "\f143"; }
.kb_icon_einstellungen:before { content: "\f112"; }
.kb_icon_favorit:before { content: "\f113"; }
.kb_icon_fazit:before { content: "\f114"; }
.kb_icon_feature_bargefuehl:before { content: "\f144"; }
.kb_icon_feature_hoehelaufen:before { content: "\f145"; }
.kb_icon_feature_hooked:before { content: "\f146"; }
.kb_icon_feature_kiteloop:before { content: "\f147"; }
.kb_icon_feature_querkraefte:before { content: "\f148"; }
.kb_icon_feature_relaunch:before { content: "\f149"; }
.kb_icon_feature_safety:before { content: "\f14a"; }
.kb_icon_feature_unhooked:before { content: "\f14b"; }
.kb_icon_feature_wave:before { content: "\f14c"; }
.kb_icon_feature_windbereich:before { content: "\f14d"; }
.kb_icon_hinweis:before { content: "\f115"; }
.kb_icon_info:before { content: "\f116"; }
.kb_icon_inhalt:before { content: "\f13c"; }
.kb_icon_karten_pin:before { content: "\f14e"; }
.kb_icon_link:before { content: "\f118"; }
.kb_icon_media:before { content: "\f119"; }
.kb_icon_mustache:before { content: "\f155"; }
.kb_icon_pfeil_brandneu:before { content: "\f14f"; }
.kb_icon_pfeil_links:before { content: "\f150"; }
.kb_icon_pfeil_oben:before { content: "\f151"; }
.kb_icon_pfeil_rechts:before { content: "\f152"; }
.kb_icon_pfeil_unten:before { content: "\f153"; }
.kb_icon_stern:before { content: "\f154"; }
.kb_icon_szenenews:before { content: "\f11b"; }
.kb_icon_vorschau:before { content: "\f11c"; }


/**
 * @license
 * MyFonts Webfont Build ID 2723188, 2014-01-13T05:57:15-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Brandon Grotesque Thin Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/thin-italic/
 * 
 * Webfont: Brandon Grotesque Thin by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/thin/
 * 
 * Webfont: Brandon Grotesque Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/italic/
 * 
 * Webfont: Brandon Grotesque Medium Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium-italic/
 * 
 * Webfont: Brandon Grotesque Medium by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
 * 
 * Webfont: Brandon Grotesque Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/regular/
 * 
 * Webfont: Brandon Grotesque Light Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light-italic/
 * 
 * Webfont: Brandon Grotesque Light by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
 * 
 * Webfont: Brandon Grotesque Bold Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold-italic/
 * 
 * Webfont: Brandon Grotesque Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold/
 * 
 * Webfont: Brandon Grotesque Black Italic by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/black-italic/
 * 
 * Webfont: Brandon Grotesque Black by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/black/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2723188
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/298d74");
@font-face {font-family: 'BrandonGrotesque-ThinItalic';src: url('./fonts/brandon/298D74_0_0.eot');src: url('./fonts/brandon/298D74_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_0_0.woff') format('woff'),url('./fonts/brandon/298D74_0_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Thin';src: url('./fonts/brandon/298D74_1_0.eot');src: url('./fonts/brandon/298D74_1_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_1_0.woff') format('woff'),url('./fonts/brandon/298D74_1_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-RegularItalic';src: url('./fonts/brandon/298D74_2_0.eot');src: url('./fonts/brandon/298D74_2_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_2_0.woff') format('woff'),url('./fonts/brandon/298D74_2_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-MediumItalic';src: url('./fonts/brandon/298D74_3_0.eot');src: url('./fonts/brandon/298D74_3_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_3_0.woff') format('woff'),url('./fonts/brandon/298D74_3_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Medium';src: url('./fonts/brandon/298D74_4_0.eot');src: url('./fonts/brandon/298D74_4_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_4_0.woff') format('woff'),url('./fonts/brandon/298D74_4_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Regular';src: url('./fonts/brandon/298D74_5_0.eot');src: url('./fonts/brandon/298D74_5_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_5_0.woff') format('woff'),url('./fonts/brandon/298D74_5_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-LightItalic';src: url('./fonts/brandon/298D74_6_0.eot');src: url('./fonts/brandon/298D74_6_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_6_0.woff') format('woff'),url('./fonts/brandon/298D74_6_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Light';src: url('./fonts/brandon/298D74_7_0.eot');src: url('./fonts/brandon/298D74_7_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_7_0.woff') format('woff'),url('./fonts/brandon/298D74_7_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-BoldItalic';src: url('./fonts/brandon/298D74_8_0.eot');src: url('./fonts/brandon/298D74_8_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_8_0.woff') format('woff'),url('./fonts/brandon/298D74_8_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Bold';src: url('./fonts/brandon/298D74_9_0.eot');src: url('./fonts/brandon/298D74_9_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_9_0.woff') format('woff'),url('./fonts/brandon/298D74_9_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-BlackItalic';src: url('./fonts/brandon/298D74_A_0.eot');src: url('./fonts/brandon/298D74_A_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_A_0.woff') format('woff'),url('./fonts/brandon/298D74_A_0.ttf') format('truetype');} 
@font-face {font-family: 'BrandonGrotesque-Black';src: url('./fonts/brandon/298D74_B_0.eot');src: url('./fonts/brandon/298D74_B_0.eot?#iefix') format('embedded-opentype'),url('./fonts/brandon/298D74_B_0.woff') format('woff'),url('./fonts/brandon/298D74_B_0.ttf') format('truetype');}
 