/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_194073d4a09fa13be7dc02f78c427bd1.eot");
  src: url("./fontcustom_194073d4a09fa13be7dc02f78c427bd1.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_194073d4a09fa13be7dc02f78c427bd1.woff") format("woff"),
       url("./fontcustom_194073d4a09fa13be7dc02f78c427bd1.ttf") format("truetype"),
       url("./fontcustom_194073d4a09fa13be7dc02f78c427bd1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_194073d4a09fa13be7dc02f78c427bd1.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.kb_icon_achtung:before,
.kb_icon_component_audio:before,
.kb_icon_component_gyro:before,
.kb_icon_component_magnify:before,
.kb_icon_component_pinch:before,
.kb_icon_component_stockmotion:before,
.kb_icon_component_swipe:before,
.kb_icon_component_video:before,
.kb_icon_einstellungen:before,
.kb_icon_favorit:before,
.kb_icon_fazit:before,
.kb_icon_feature_bargefuehl:before,
.kb_icon_feature_hoehelaufen:before,
.kb_icon_feature_hooked:before,
.kb_icon_feature_kiteloop:before,
.kb_icon_feature_querkraefte:before,
.kb_icon_feature_relaunch:before,
.kb_icon_feature_safety:before,
.kb_icon_feature_unhooked:before,
.kb_icon_feature_wave:before,
.kb_icon_feature_windbereich:before,
.kb_icon_hinweis:before,
.kb_icon_info:before,
.kb_icon_inhalt:before,
.kb_icon_karten_pin:before,
.kb_icon_link:before,
.kb_icon_media:before,
.kb_icon_mustache:before,
.kb_icon_pfeil_brandneu:before,
.kb_icon_pfeil_links:before,
.kb_icon_pfeil_oben:before,
.kb_icon_pfeil_rechts:before,
.kb_icon_pfeil_unten:before,
.kb_icon_stern:before,
.kb_icon_szenenews:before,
.kb_icon_vorschau:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.kb_icon_achtung:before { content: "\f111"; }
.kb_icon_component_audio:before { content: "\f13d"; }
.kb_icon_component_gyro:before { content: "\f13e"; }
.kb_icon_component_magnify:before { content: "\f13f"; }
.kb_icon_component_pinch:before { content: "\f140"; }
.kb_icon_component_stockmotion:before { content: "\f141"; }
.kb_icon_component_swipe:before { content: "\f142"; }
.kb_icon_component_video:before { content: "\f143"; }
.kb_icon_einstellungen:before { content: "\f112"; }
.kb_icon_favorit:before { content: "\f113"; }
.kb_icon_fazit:before { content: "\f114"; }
.kb_icon_feature_bargefuehl:before { content: "\f144"; }
.kb_icon_feature_hoehelaufen:before { content: "\f145"; }
.kb_icon_feature_hooked:before { content: "\f146"; }
.kb_icon_feature_kiteloop:before { content: "\f147"; }
.kb_icon_feature_querkraefte:before { content: "\f148"; }
.kb_icon_feature_relaunch:before { content: "\f149"; }
.kb_icon_feature_safety:before { content: "\f14a"; }
.kb_icon_feature_unhooked:before { content: "\f14b"; }
.kb_icon_feature_wave:before { content: "\f14c"; }
.kb_icon_feature_windbereich:before { content: "\f14d"; }
.kb_icon_hinweis:before { content: "\f115"; }
.kb_icon_info:before { content: "\f116"; }
.kb_icon_inhalt:before { content: "\f13c"; }
.kb_icon_karten_pin:before { content: "\f14e"; }
.kb_icon_link:before { content: "\f118"; }
.kb_icon_media:before { content: "\f119"; }
.kb_icon_mustache:before { content: "\f155"; }
.kb_icon_pfeil_brandneu:before { content: "\f14f"; }
.kb_icon_pfeil_links:before { content: "\f150"; }
.kb_icon_pfeil_oben:before { content: "\f151"; }
.kb_icon_pfeil_rechts:before { content: "\f152"; }
.kb_icon_pfeil_unten:before { content: "\f153"; }
.kb_icon_stern:before { content: "\f154"; }
.kb_icon_szenenews:before { content: "\f11b"; }
.kb_icon_vorschau:before { content: "\f11c"; }
